{% extends 'base.html.twig' %}

{% block title %}Hello BildnachweiseController!{% endblock %}

{% block body %}
    <div class="container">

        <h3 class="mt-5 mb-3">Envato Elements</h3>
        <div class="row">
            <div class="card col" style="width: 18rem;">
                <img src="https://www.pec-weissach.com/bilder/0e2524511bef9461565902a255db2f50.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: on fire<br>
                        Item URL: https://elements.envato.com/on-fire-PPSBJAX<br>
                        Item ID: PPSBJAX<br>
                        Author Username: Getmilitaryphotos<br>
                        Registered Project Name: PEC<br>
                        License Date: June 14th, 2023<br>
                        Item License Code: VDA5LU6GQB<br>
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="https://www.pec-weissach.com/bilder/b0d717e54ac6bb555fbef142983b578c.jpg"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: Tree against Milky Way. Night landscape<br>
                        Item URL: https://elements.envato.com/tree-against-milky-way-night-landscape-PSS7QAV<br>
                        Item ID: PSS7QAV<br>
                        Author Username: den-belitsky<br>
                        Registered Project Name: PEC<br>
                        License Date: June 13th, 2023<br>
                        Item License Code: 5T72AN8KR6<br>
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="https://www.pec-weissach.com/bilder/43a1e5a481dcd71497aa26f2859d672a.jpg"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: Ceramic house insulated by warm sweater. Concept of protection of house and lack of
                        heat at home<br>
                        Item URL: https://elements.envato.com/ceramic-house-insulated-by-warm-sweater-concept-of-N5FEQVD<br>
                        Item ID: N5FEQVD<br>
                        Author Username: Anikona<br>
                        Registered Project Name: PEC<br>
                        License Date: June 13th, 2023<br>
                        Item License Code: ND4AYQZJRC<br>
                    </p>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="card col" style="width: 18rem;">
                <img src="https://www.pec-weissach.com/bilder/babbe378cdce193836c47eab911921eb.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: light bulb, light bulb idea, Creative thinking ideas, lightbulb brain<br>
                        Item URL: https://elements.envato.com/light-bulb-light-bulb-idea-creative-thinking-ideas-YL5HHM3<br>
                        Item ID: YL5HHM3<br>
                        Author Username: Prototype-Drop<br>
                        Registered Project Name: PEC<br>
                        License Date: June 13th, 2023<br>
                        Item License Code: 9KBYW7T5QD<br>
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="" class="card-img-top"
                     alt="">
                <div class="card-body">
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="" class="card-img-top"
                     alt="">
                <div class="card-body">
                    <p class="card-text">

                    </p>
                </div>
            </div>

        </div>


    <h3 class="mt-5 mb-3">Grundfoss</h3>
        <div class="row">
            <div class="card col" style="width: 18rem;">
                <img src="https://www.pec-weissach.com/bilder/2dd0434ed80528a60ae343778b92d252.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: Grundfoss Magna<br>
                        Item URL: https://www.grundfos.com/<br>
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="" class="card-img-top"
                     alt="">
                <div class="card-body">
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="" class="card-img-top"
                     alt="">
                <div class="card-body">
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
