{% extends 'base.html.twig' %}

{% block title %}Hello BildnachweiseController!{% endblock %}

{% block body %}
    <div class="container">

        <h3 class="mt-5 mb-3">Envato Elements</h3>
        <div class="row">
            <div class="card col" style="width: 18rem;">
                <img src="https://www.pec-weissach.com/bilder/0e2524511bef9461565902a255db2f50.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: on fire<br>
                        Item URL: https://elements.envato.com/on-fire-PPSBJAX<br>
                        Item ID: PPSBJAX<br>
                        Author Username: Getmilitaryphotos<br>
                        Registered Project Name: PEC<br>
                        License Date: June 14th, 2023<br>
                        Item License Code: VDA5LU6GQB<br>
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="https://www.pec-weissach.com/bilder/b0d717e54ac6bb555fbef142983b578c.jpg"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: Tree against Milky Way. Night landscape<br>
                        Item URL: https://elements.envato.com/tree-against-milky-way-night-landscape-PSS7QAV<br>
                        Item ID: PSS7QAV<br>
                        Author Username: den-belitsky<br>
                        Registered Project Name: PEC<br>
                        License Date: June 13th, 2023<br>
                        Item License Code: 5T72AN8KR6<br>
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="https://www.pec-weissach.com/bilder/43a1e5a481dcd71497aa26f2859d672a.jpg"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: Ceramic house insulated by warm sweater. Concept of protection of house and lack of
                        heat at home<br>
                        Item URL: https://elements.envato.com/ceramic-house-insulated-by-warm-sweater-concept-of-N5FEQVD<br>
                        Item ID: N5FEQVD<br>
                        Author Username: Anikona<br>
                        Registered Project Name: PEC<br>
                        License Date: June 13th, 2023<br>
                        Item License Code: ND4AYQZJRC<br>
                    </p>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="card col" style="width: 18rem;">
                <img src="https://www.pec-weissach.com/bilder/babbe378cdce193836c47eab911921eb.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: light bulb, light bulb idea, Creative thinking ideas, lightbulb brain<br>
                        Item URL: https://elements.envato.com/light-bulb-light-bulb-idea-creative-thinking-ideas-YL5HHM3<br>
                        Item ID: YL5HHM3<br>
                        Author Username: Prototype-Drop<br>
                        Registered Project Name: PEC<br>
                        License Date: June 13th, 2023<br>
                        Item License Code: 9KBYW7T5QD<br>
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="http://127.0.0.1:8000/bilder/6cd55a534cc15a6d250eb24bb9e83c58.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: smart screen with smart home with modern living room<br>
                        Item URL: https://elements.envato.com/smart-screen-with-smart-home-with-modern-living-ro-QDVLVDA<br>
                        Item ID: QDVLVDA<br>
                        Author Username: escapejaja<br>
                        Registered Project Name: PEC<br>
                        License Date: July 5th, 2023<br>
                        Item License Code: KCNQZLPR9G<br>
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="http://127.0.0.1:8000/bilder/b76d5211b54b2e96dbdbadb9d9396fad.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: Group Of Friends Meeting For Lunchtime Drinks In Traditional English Pub<br>
                        Item URL: https://elements.envato.com/group-of-friends-meeting-for-lunchtime-drinks-in-t-FW9B2SM<br>
                        Item ID: FW9B2SM<br>
                        Author Username: monkeybusiness<br>
                        Registered Project Name: PEC<br>
                        License Date: July 5th, 2023<br>
                        Item License Code: 6HQ2P53C9S<br>
                    </p>
                </div>
            </div>
        </div>


        <h3 class="mt-5 mb-3">Grundfoss</h3>
        <div class="row">
            <div class="card col" style="width: 18rem;">
                <img src="https://www.pec-weissach.com/bilder/2dd0434ed80528a60ae343778b92d252.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Item Title: Grundfoss Magna<br>
                        Item URL: https://www.grundfos.com/<br>
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="" class="card-img-top"
                     alt="">
                <div class="card-body">
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <img src="" class="card-img-top"
                     alt="">
                <div class="card-body">
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Fotolia</h1>
        <p>
            2135994919 – Panoramic abstract dot and triangle connection background… © Khanthachai C<br>
            576152014 – Struktur der klassischen Ziegelstruktur, abstraktes Muster © Peyker<br>
            691287175 – Blaues Plasma, Strom- und Energiehintergrund © Martin Capek<br>
        </p>
    </div>
    </div>
{% endblock %}
