.text-body-secondary{
    color: #0a183d !important;
}

.header-section{

    color: #FFFFFF !important;
    background-image: url("../img/hintergrund_rot.jpg") !important;

}

.footer-section{
    background: #FFFFFF !important;
}
.main-menu li a{
    color: #FFFFFF !important;
}

.header-section a{
    color: #FFFFFF !important;
}

.footer-widget h2{
    color: #0a183d !important;
}

.intro-section{
    background-image: url("../img/hintergrund_blau.jpg") !important;
    color: #FFFFFF !important;
}

.intro-section h3,.intro-section p{
    color: #FFFFFF !important;
}

.hide-me {
    border: none !important;
    width: 0px !important;

}
