.text-body-secondary{
    color: #0a183d !important;
}

.header-section{

    color: #FFFFFF !important;
    background-image: url("../img/bg_header.png") !important;

}


.hero-img {
    background-image: url("../img/shutterstock_2135994919.jpg") !important;
}

.footer-section{
    background: #FFFFFF !important;
}
.main-menu li a{
    color: rgba(0, 0, 0, 0.97) !important;
}

.header-section a{
    color: rgba(5, 5, 5, 0.97) !important;
}

.footer-widget h2{
    color: #0a183d !important;
}

.intro-section{
    background-image: url("../img/hintergrund_blau.jpg") !important;
    color: #FFFFFF !important;
}

.intro-section h3,.intro-section p{
    color: #FFFFFF !important;
}

.hide-me {
    border: none !important;
    width: 0px !important;

}

.sub-menu li a{
    color: #000000 !important;
}

.text-referenten {
    color: #FFFFFF !important;
}