{% extends 'base.html.twig' %}

{% block title %}Hello JobController!{% endblock %}

{% block body %}
    <!-- start hero -->
    <section class="hero-one position-relative main-bg" id="home"  style="background-image: url(../../../../Downloads/selfown-personal-portfolio-bootstrap-5-template-2022-05-13-14-10-03-utc/selfown-v1.0/default/images/personal/main-bg.png); background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row align-items-center justify-content-center">

                <div class="col-lg-5  mx-auto mt-5">
                    <img src="../bilder/0e2524511bef9461565902a255db2f50.jpg" alt="" class="img-fluid ml-lg-5">
                </div><!--end col-->
                <div class="col-lg-7 text-center px-0 px-xl-4 mt-5 mt-lg-0 pt-5 pt-lg-0">
                    <h5 class="d-inline-block py-1 px-3 rounded text-muted font-secondary">Hi, I'm David Williamson</h5>
                    <h1 class="hero-title mb-4 font-secondary fo">I'm a freelance <mark><span class="fw-medium typewrite" data-period="2000" data-type='["React", "Flutter", "Python"]'></span></mark> Developer</h1>
                    <span class="wrap"></span>
                    <div class="mb-5 mb-lg-0">
                        <div class="d-inline-block">
                            <a href="#" class="btn btn-primary">Download CV</a>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!-- end container -->
    </section>
    <!-- end hero -->
{% endblock %}
