{% extends 'base.html.twig' %}

{% block title %}Hello AnmeldungController!{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-secondary pb-5">Anmeldung zum Event</h3>
        <p class="text-warning"> {{ name }} mit der Nummer {{ id }}</p>
        <p class="text-info"> tragen Sie hier ihre Daten ein zur Anmeldung ein.</p>
        {{ form(anmeldeForm) }}
    </div>

{% endblock %}
