{% extends 'base.html.twig' %}

{% block title %}Edit Anmeldung{% endblock %}

{% block body %}

    <div class="container">
        <h1>Edit Anmeldung</h1>

        {{ include('anmeldung_crud/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-primary btn-block mt-1 mb-1" href="{{ path('app_anmeldung_crud_index') }}">Zurück</a>

        {{ include('anmeldung_crud/_delete_form.html.twig') }}
    </div>
{% endblock %}
