{% extends 'base.html.twig' %}

{% block title %}Hello KontaktController!{% endblock %}

{% block body %}

    {% for message in app.flashes('nachricht') %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
    <div class="container mt-5">
        <!-- Contact section -->
        <section class="contact-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 p-0">
                        <!-- Map -->
                        <div class="map">
                            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=9.469777643680574%2C48.92600460201444%2C9.474256932735443%2C48.927527206233044&amp;layer=mapnik&amp;marker=48.92676590992707%2C9.472017288208008" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=48.92677&amp;mlon=9.47202#map=19/48.92677/9.47202">Größere Karte anzeigen</a></small>
                              </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="contact-warp">
                            <div class="section-title mb-0">
                                <h2>So finden Sie uns</h2>
                            </div>
                            <p>Die Firma Pfeiffer GmbH & Co. KG befindet sich in einer guten Lage in der Stuttgarter
                                Straße 61, in 71544 Weissach im Tal.
                                Weissach ist eine charmante Gemeinde im Rems-Murr-Kreis in Baden-Württemberg,
                                Deutschland.
                                Unser Gebäude liegt ideal an der Stuttgarter Straße, einer der Hauptverkehrsstraßen der
                                Region. </p>
                            <ul>
                                <li>Stuttgarter Str. 61</li>
                                <li>71554 Weissach im Tal</li>
                                <li>info@pfeiffer-gmbh.com</li>
                            </ul>
                            {{ form(kontaktForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
